<!DOCTYPE html>
<html>
<head>

<title>LGIR: Workspace</title>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Biryani&display=swap" rel="stylesheet">

<!-- Including the blockly application from the static files directory -->
<script src="./../../static/application/blockly/google-blockly-edd475f/blockly_compressed.js"></script>
<script src="./../../static/application/blockly/google-blockly-edd475f/blocks_compressed.js"></script>
<script src="./../../static/application/blockly/google-blockly-edd475f/javascript_compressed.js"></script>
<script src="./../../static/application/blockly/google-blockly-edd475f/python_compressed.js"></script>
<script src="./../../static/application/blockly/google-blockly-edd475f/msg/js/en.js"></script>

<link rel="icon" href="../../../static/images/favicon.png" sizes="16x16" type="image/png">

<script src="/socket.io/socket.io.js"></script>

<script>
  var token =  "<%= token %>"
  var code = "<%= code %>"
</script>

<!-- Loading Static CSS -->
<link rel="stylesheet" href="./../../static/css/generics/main.css" type="text/css">
<link rel="stylesheet" href="./../../static/css/application/chat.css" type="text/css">
<link rel="stylesheet" href="./../../static/css/application/workspace.css" type="text/css">
<link rel="stylesheet" href="./../../static/css/application/monitor.css" type="text/css">

</head>

<body>
<!-- Defining the page navigation bars -->
<ul id="top_nav">
  <li><a id="site-title">LGIR</a></li>
  <li><a href="./../../../dashboard">Dashboard</a></li>
  <li><a href="../app/<%=code%>" id="project-workspace-button" class="active-link" style="padding-bottom: 10px;"><%=name%> Workspace</a></li>
  <li><a href="<%=code%>/settings">Settings</a></li>
  <li><a id="toggle-monitor">Monitor</a></li>
  <li><a id="request-edit">Edit</a>
  <li><a id="download-code">Download Code</a></li>
  <li><a id="toggle-chat">Chat</a></li>
  <li style="display: none"><a id="review-button" style="display: none;">Leave Feedback</a></li>
  <li style="float:right"><a href="./../../logout">Logout <%= username %></a></li>
</ul>

<!-- Defining the main container for the page -->
<div id="main">

  <div id="review-area">

    <h1 id="review-area-title">Project Settings Page Feedback</h1>
    <h2>On a scale of 0 to 10, how would you rate the page on the following topics?</h2>
    <div id="question-grid">
        <div class="text" id="q1text"></div>
        <div class="slider-container">
            <p>Question 1</p>
            <input type="range" min="0" max="10" value="5" class="slider" id="q1slider">
            <p id="q1output">5</p>
        </div>
        <div></div>

        <div class="text" id="q2text"></div>
        <div class="slider-container">
            <p>Question 2</p>
            <input type="range" min="0" max="10" value="5" class="slider" id="q2slider">
            <p id="q2output">5</p>
        </div>
        <div></div>

        <div class="text" id="q3text"></div>
        <div class="slider-container">
            <p>Question 3</p>
            <input type="range" min="0" max="10" value="5" class="slider" id="q3slider">
            <p id="q3output">5</p>
        </div>
        <div></div>
    </div>
    <input placeholder="Extra Text Feedback" id="review-area-additional">
    <a id="feedback-send-button">Send Feedback</a>

  </div>


  <!-- Holds all items relating to Blockly -->
  <div id="workspace-area">
    <div id="blockly-wrapper">
      <div id="workspace-loading-message">
        <h1>Loading the Workspace</h1>
      </div>

      <div id="allow-edit-message" style="display: none">
        <h1>Someone would like to edit the workspace.</h1>
        <h2>Make them the editor?<h2>
        <a id='allow-edit'>Yes</a>
        <a id='block-edit'>No</a>
        <h3>You'll give automatic permission in 5 seconds</h3>
      </div>

      <div id="someone-is-editing-message" style="display: none">
        <h1>Someone is editing the workspace right now.</h1>
        <h2>Press the edit button to ask for edit permissions.</h2>
      </div>

      <div id="positive-edit-message" style="display: none">
        <h1>Congratulations!</h1>
        <h2>You now have permission to edit the workspace.</h2>
      </div>

      <div id="negative-edit-message" style="display: none">
        <h1>Well this is awkward!</h1>
        <h2>The editor refused your request to edit.</h2>
      </div>

      <div id="asking-for-edit-message" style="display: none">
        <h1>You've asked for permission to edit.</h1>
        <h2>Hang on while we just ask the current editor.</h2>
      </div>

      <div id="current-editor-message" style="display: none">
        <h1>What a silly billy!</h1>
        <h2>You're already the editor.</h2>
      </div>

      <div id="already-users-waiting" style="display: none">
        <h1>It's busy today!</h1>
        <h2>There's already a user waiting to edit the project.</h2>
      </div>

      <div id="incorrect-json-message" style="display: none">
        <h1>Whoops!</h1>
        <h2>Those results weren't quite in the correct format.</h2>
        <h2>Only JSON Formatted Results From LGIR Python Are Allowed.</h2>
      </div>

      <div id="fatal-error-message" style="display: none">
        <h1>Oh, that's actually not great.</h1>
        <h2>A fatal error has occurred.</h2>
        <h2>You can attempt to use the workspace however key features may not function.</h2>
      </div>

      
      <div id="incorrect-syntax-message" style="display: none">
        <h1>Syntax Error</h1>
        <h2>Have a check over your program, looks like some items are missing.</h2>
      </div>
    </div>
    
    <div id="blockly-container" style="flex: 1;"></div>
    <div id="monitor-container" style="flex: 1;">

      <div id="monitor-inception-container">
        <div id="monitor-navigation">
          <ul>
            <select id="results-dropdown"></select>
            <li><a id="upload-results-button">Upload</a></li>
            <li><a class="bucket-select" onclick="ShowBucketPage(1)">1-4</a></li>
            <li><a class="bucket-select" onclick="ShowBucketPage(2)">5-8</a></li>
            <li><a class="bucket-select" onclick="ShowBucketPage(3)">9-12</a></li>
            <li><a class="bucket-select" onclick="ShowBucketPage(4)">13-16</a></li>
          </ul>
        </div>
        <div id="monitor-results">
          <textarea id="upload-results-area" placeholder="PASTE PROGRAM OUTPUT HERE"></textarea>
          <div id="bucket-container"></div>
        </div>

    </div>
  </div> 

  </div>

  <!-- Holds all items relating to chat messages -->
  <div id="chat-container">
    <div id="chat-header"><%=name%> chat</div>
    <div id="chat-display-container"></div>
    <div id="chat-input-container"><input id="chat-input" placeholder="Please input your text here"></div>
  </div>
</div>

<div id="blocklyDiv" style="position: absolute;"></div>

<script src="./../../static/application/custom_blocks/structs.js"></script>
<script src="./../../static/application/custom_blocks/logic.js"></script>
<script src="./../../static/application/custom_blocks/stubs.js"></script>
<script src="./../../static/application/custom_workspace/toolbox.js"></script>

<script>
  

  var projectName = "<%=name%>"

  var reviewArea = document.getElementById("review-area")
  var reviewButton = document.getElementById("review-button");
  var reviewAreaStatus = false
  var projectWorkspaceButton = document.getElementById("project-workspace-button")

  var feedbackSendButton = document.getElementById("feedback-send-button")

  reviewButton.addEventListener("click", function(){

    
    if (reviewAreaStatus) {
        reviewAreaStatus = false
        reviewButton.textContent = "Leave Feedback"
        reviewArea.style.display = "none"
    }
    else {
        reviewAreaStatus = true
        reviewButton.textContent = "Close Feedback"
        reviewArea.style.display = "block"
    }
  })


  var q1slider = document.getElementById("q1slider")
  var q2slider = document.getElementById("q2slider")
  var q3slider = document.getElementById("q3slider")

  var q1Output = document.getElementById("q1output")
  var q2Output = document.getElementById("q2output")
  var q3Output = document.getElementById("q3output")
  
  var additionalFeedback = document.getElementById("review-area-additional")

  q1slider.addEventListener("input",function(e){
      q1Output.textContent = e.target.value
  })

  q2slider.addEventListener("input",function(e){
      q2Output.textContent = e.target.value
  })
  
  q3slider.addEventListener("input",function(e){
      q3Output.textContent = e.target.value
  })

    
  feedbackSendButton.addEventListener("click",function(){

      socket.emit("feedback",{
        "page" : "workspace",
        "question1" : q1slider.value,
        "question2" : q2slider.value,
        "question3" : q3slider.value,
        "question4" : additionalFeedback.value
      })

      reviewArea.innerHTML = "<h1>Thanks!</h1><h2>Your feedback has been submitted.</h2>"


      setTimeout(function(){
          reviewArea.style.display = "none"
          reviewButton.style.display = "none"
      },2500)

      reviewButton.textContent = "Leave Feedback"
      reviewAreaStatus = false

  })


</script>


<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
  <category name="Logic" colour="#5b80a5">
    <block type="controls_if"></block>
    <block type="logic_compare">
      <field name="OP">EQ</field>
    </block>
    <block type="logic_operation">
      <field name="OP">AND</field>
    </block>
    <block type="logic_negate"></block>
    <block type="logic_boolean">
      <field name="BOOL">TRUE</field>
    </block>
    <block type="logic_null"></block>
    <block type="logic_ternary"></block>
  </category>
  <category name="Loops" colour="#5ba55b">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="controls_whileUntil">
      <field name="MODE">WHILE</field>
    </block>
    <block type="controls_for">
      <field name="VAR" id="C1UdTdx%TI@+tl_0}A~7">i</field>
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="controls_forEach">
      <field name="VAR" id="[WzoaOtF(Thf:VSpUjP6">j</field>
    </block>
    <block type="controls_flow_statements">
      <field name="FLOW">BREAK</field>
    </block>
  </category>
  <category name="Math" colour="#5b67a5">
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="math_arithmetic">
      <field name="OP">ADD</field>
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="math_single">
      <field name="OP">ROOT</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">9</field>
        </shadow>
      </value>
    </block>
    <block type="math_trig">
      <field name="OP">SIN</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">45</field>
        </shadow>
      </value>
    </block>
    <block type="math_constant">
      <field name="CONSTANT">PI</field>
    </block>
    <block type="math_number_property">
      <mutation divisor_input="false"></mutation>
      <field name="PROPERTY">EVEN</field>
      <value name="NUMBER_TO_CHECK">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="math_round">
      <field name="OP">ROUND</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">3.1</field>
        </shadow>
      </value>
    </block>
    <block type="math_on_list">
      <mutation op="SUM"></mutation>
      <field name="OP">SUM</field>
    </block>
    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="math_number">
          <field name="NUM">64</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="math_constrain">
      <value name="VALUE">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="LOW">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="HIGH">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_float"></block>
  </category>
  <category name="Text" colour="#5ba58c">
    <block type="text">
      <field name="TEXT"></field>
    </block>
    <block type="text_join">
      <mutation items="2"></mutation>
    </block>
    <block type="text_append">
      <field name="VAR" id="TH!{Qt#La:!fdN,VR0R4">item</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_length">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_isEmpty">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="%{n4);1hQ|`oBz6yxZdL">text</field>
        </block>
      </value>
      <value name="FIND">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_charAt">
      <mutation at="true"></mutation>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="%{n4);1hQ|`oBz6yxZdL">text</field>
        </block>
      </value>
    </block>
    <block type="text_getSubstring">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="STRING">
        <block type="variables_get">
          <field name="VAR" id="%{n4);1hQ|`oBz6yxZdL">text</field>
        </block>
      </value>
    </block>
    <block type="text_changeCase">
      <field name="CASE">UPPERCASE</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_trim">
      <field name="MODE">BOTH</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_print">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_prompt_ext">
      <mutation type="TEXT"></mutation>
      <field name="TYPE">TEXT</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
  </category>
  <category name="Lists" colour="#745ba5">
    <block type="lists_create_with">
      <mutation items="0"></mutation>
    </block>
    <block type="lists_create_with">
      <mutation items="3"></mutation>
    </block>
    <block type="lists_repeat">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">5</field>
        </shadow>
      </value>
    </block>
    <block type="lists_length"></block>
    <block type="lists_isEmpty"></block>
    <block type="lists_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="p1ev~ELe-`sK)/XOH2z%">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getIndex">
      <mutation statement="false" at="true"></mutation>
      <field name="MODE">GET</field>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="p1ev~ELe-`sK)/XOH2z%">list</field>
        </block>
      </value>
    </block>
    <block type="lists_setIndex">
      <mutation at="true"></mutation>
      <field name="MODE">SET</field>
      <field name="WHERE">FROM_START</field>
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR" id="p1ev~ELe-`sK)/XOH2z%">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getSublist">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR" id="p1ev~ELe-`sK)/XOH2z%">list</field>
        </block>
      </value>
    </block>
    <block type="lists_split">
      <mutation mode="SPLIT"></mutation>
      <field name="MODE">SPLIT</field>
      <value name="DELIM">
        <shadow type="text">
          <field name="TEXT">,</field>
        </shadow>
      </value>
    </block>
    <block type="lists_sort">
      <field name="TYPE">NUMERIC</field>
      <field name="DIRECTION">1</field>
    </block>
  </category>
  <sep></sep>

  <category name="Robotics" colour="#5b80a5">
    <block type="wait"></block>
    <block type="set"></block>
    <block type="add"></block>
    <block type="speed"></block>
    <block type="brightness"></block>
    <block type="power"></block>
    <block type="bucket"></block>
  </category>

  <sep></sep>
  <category name="Functions" colour="#995ba5" custom="PROCEDURE"></category>
  <category name="Variables" colour="#a55b80" custom="VARIABLE"></category>
</xml>


<!-- Getting the project data from the views args -->
<script>
  var parser = new DOMParser();
  var workspaceString = "<%= workspace %>"
  var workspaceXML = parser.parseFromString('<%= workspace %>',"text/html");
</script>


<!-- Defining resize functions -->
<script src="./../../static/application/workspace/resize.js"></script>

<!-- Injecting Blockly-->
<script src="./../../static/application/workspace/blockly_inject.js"></script>

<!-- Websockets -->
<script src="./../../static/application/workspace/socket.js"></script>

<!-- Chat -->
<script src="./../../static/application/workspace/chat.js"></script>

<!--Monitor-->
<script src ="./../../static/application/workspace/monitor.js"></script>
 
<script>

socket.emit("get_mapping",{
  "code" : code
})


</script>

</body>
</html>